.ShiftSubtitlePanel-header {
    font-size: 1.3em;
}

.ShiftSubtitle-field-shift-time label {
    font-size: 14px;
}

.ShiftSubtitle-field-start-time label {
    font-size: 14px;
}

.ShiftSubtitlePanel-buttons {
    float: right;
}

.ShiftSubtitlePanel-status-message {
    max-width: 12em;
}

.ShiftSubtitle-field-start-time {
    margin-bottom: 10px;
    display: flex;
    /*border: 2px solid red;*/
    padding-right: 245px;
}

.ShiftSubtitle-field-shift-time {
    margin-bottom: 10px;
    display: flex;
    /*border: 2px solid red;*/
    padding-right: 230px;
}

.ShiftSubtitle-field-value {
    flex:2;
    display: inline-block;
    font-size: 18px;
    margin: 1px;
    /*border: 2px solid blueviolet;*/
}

.ShiftSubtitle-field-value:first-child {
    flex: 4;
}

.ShiftSubtitle-field-value input {
    width: 27px;
    height: 20px;
    font-size: 14px;
    margin-right: 2px;
}
